<div class="hidden-md hidden-lg" id="banner" style="background-color:rgb(22, 49, 97) !important;z-index:100000000000000 !important;position: fixed !important;width:104.4% !important;float: left !important;padding: 12px !important;">
             
  <a class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background-color:transparent; margin-right:0px;">
    <span class="ti ti-angle-down" style="color:rgb(255, 255, 255) !important;font-size:25px; margin-top:-5px;"></span>
</a>

    
     <ul class="nav navbar-nav navbar-left text-center" style="background:none;">
  <a href="/" style="text-decoration:none;background:none;">
  <img src="images/obic.png" height="30" style="margin-top:-25px; margin-left: 30px !important;float:left !important;" />               
  </a>
  </ul>
    
    
  
<div class="collapse navbar-collapse" id="myNavbar" style="background-color: rgba(0, 18, 32, 0.301) !important;color:white !important;padding-top:9px;">
 
 
                   
    <br>
       
    <ul class='nav navbar-nav navbar-right' style="padding-top:5px;margin-top:-15px;margin-right:20px;">
        <li class='dropdown'>
            <a  style="margin-top: 0px;" href='/user/dashboard' style="color:rgb(20, 20, 20) !important;">
                <i class="fa fa-th-large orange"></i>&nbsp;<b style="color:rgb(255, 255, 255) !important;font-size: 18px !important;">Dashboard</b>
            </a>
        </li>
    </ul>     
    
    
          

                   
    <br>
       

    <ul class='nav navbar-nav navbar-right' style="padding-top:5px;margin-top:-15px;margin-right:20px;">
        <li class='dropdown'>
            <a  style="margin-top: 0px;" href='/user/products' style="color:rgb(20, 20, 20) !important;">
                <i class="fab fa-cc-discover orange"></i>&nbsp;<b style="color:rgb(255, 255, 255) !important;font-size: 18px !important;">Gift Cards</b>
            </a>
        </li>
    </ul>     


       
                   
    <br>
       
    <ul class='nav navbar-nav navbar-right' style="padding-top:5px;margin-top:-15px;margin-right:20px;">
        <li class='dropdown'>
            <a  style="margin-top: 0px;" href='/user/transactions' style="color:rgb(20, 20, 20) !important;">
                <i class="fa fa-bars orange"></i>&nbsp;<b style="color:rgb(255, 255, 255) !important;font-size: 18px !important;">Transactions</b>
            </a>
        </li>
    </ul>     


                   
    <br>
       
       
    <ul class='nav navbar-nav navbar-right' style="padding-top:5px;margin-top:-15px;margin-right:20px;">
        <li class='dropdown'>
            <a  style="margin-top: 0px;" href='/user/settings' style="color:rgb(20, 20, 20) !important;">
                <i class="fa fa-user-circle orange"></i>&nbsp;<b style="color:rgb(255, 255, 255) !important;font-size: 18px !important;">Account</b>
            </a>
        </li>
    </ul>     
  
<br><br>

</div>
  
  </div>   
  
  
  
  
  
  
  
  