
<div class="main-sidebar black-bg" id="sidebar" style="background-color:rgb(22, 49, 97) !important;position:fixed;overflow:scroll">
  <div class="hidden-sm hidden-xs">
    <div class="row text-center">
      <img src="images/obic.png" height="30" style="margin:auto !important;margin-top: -50px !important;"/><br>
    </div>
  </div>
    <!-- <div class="padding text-center" style="width:100% !important;float: left !important;height:80px !important;padding: 20px !important;"> -->
        <!-- <div class="rounded-circle rounded-lg" style="background-image:url('images/default.png');background-size: contain;background-repeat: no-repeat;background-position: center;height: 80px !important;">
        </div> -->
             <!-- <small>ObicID <b class="orange">{{user.o_id}}</b></small> -->
        <!-- <small>
            <b class="orange">Wallet Balance</b> <br>
            <h1><b>{{user.wallet.amount | currency:'₦':2}}</b></h1>
        </small> -->
    <!-- </div>s -->

    <section class="sidebar" style="width:100% !important;height:100% !important;float: left !important;">


         <ul class="sidebar-menu tree" data-widget="tree" style="padding-top: 0px !important;">

    
              <li class="side_link">
              <a href="/user/dashboard"><i class="fa fa-th-large orange"></i> 
                &nbsp;&nbsp;&nbsp;<b class="white">Dashboard</b>
              </a>
              </li>

              <br>




  <li class="side_link">
  <a href="/user/products"><i class="fab fa-cc-discover orange"></i>
    &nbsp;&nbsp;&nbsp;<b class="white">Gift Cards</b>
  </a>
  </li>

  
<br>


              
              <li class="side_link">
                  <a href="/user/transactions"><i class="fa fa-bars orange"></i>
                    &nbsp;&nbsp;&nbsp;<b class="white">Transactions</b>
                  </a>
                  </li>


                  <br>


                  <li class="side_link">
                      <a href="/user/settings"><i class="fa fa-user-circle orange"></i>
                        &nbsp;&nbsp;&nbsp;<b class="white">Account</b>
                      </a>
                      </li>

                      <br>
    
    

      </ul>



      

    </section>
  </div>