
      
  
  <div class="modal fade bd-example-modal-lg" id="buyasset" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-md">
      <form class="modal-content" enctype="multipart/form-data" ng-submit="buy_asset(selected_asset)">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="black ti ti-close"></span></button>
        </div>
        <div class="modal-body">
            <div class="row">


                <div class="col-sm-12 col-md-12 text-center">
                         <div class="display-img" style="margin-right:auto !important;" ng-style="{'background-image':'url(' + media + selected_asset.photo + ')'}">
                          </div>
                          <br>
                          <b style="color: black !important;font-size: 20px !important;">{{selected_asset.name | capitalize}}</b><br>
                         <small>{{selected_asset.description}}</small>
                     </div>
                
            </div>  

            <div class="row text-center">
                <b>You can't buy this asset yet because its not available for purchase yet. we would alert you when it's ready</b>
            </div>
        </div>
      </form>
    </div>
  </div>
  
  