
      
  
  <div class="modal fade bd-example-modal-sm" id="logout" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-sm">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="black ti ti-close"></span>
        </button>
        </div>
        <div class="modal-body text-center">

           
            <b class="black">Are you sure you want to logout?</b>
           

        </div>


        
    <div class="modal-footer button-row">
        <button data-dismiss="modal" ng-click="logout()" style="background:rgb(240, 11, 11) !important;color:#fff;" class="btn btn-sm">&nbsp;&nbsp;Yes&nbsp;&nbsp;</button>
        <!-- <button style="background:rgba(68, 59, 59, 0.233) !important;color:rgb(12, 8, 8);" class="btn btn-sm">&nbsp;&nbsp;No&nbsp;&nbsp;</button> -->
    </div>
  

        </div>
    </div>
  </div>
  
  