
      
  
  <div class="modal fade bd-example-modal-lg" id="tradeasset" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">



        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="black ti ti-close"></span>
            </button>
        </div>



        <div class="modal-body">
          <form style="background-color: white !important;width: 100% !important;max-width:none !important;display: block !important;float: left !important;" enctype="multipart/form-data" ng-submit="sell_asset(selected_asset)">
          <div ng-if="error" class="padding text-center">
             <h6 class="red">{{error}}</h6>
          </div>
            <div class="row">
                <div class="col col-md-4 col-sm-12 text-center">
                            <div class="display-img" style="margin:auto !important;margin-bottom:10px !important;" ng-style="{'background-image':'url(' + media + selected_asset.photo + ')'}">
                            </div>
                            <b style="color: black !important;font-size: 20px !important;">{{selected_asset.name | capitalize}}</b><br>
                            <small ng-if="selected_asset.description">{{selected_asset.description}}</small>
                            <br>
                            <div class="list-group text-left" ng-if="selected_asset.currencies">
                                
                                <li class="list-group-item">
                                  <select  name="rates" ng-if="selected_asset.type=='gift card'" ng-options="curr as curr.name for curr in selected_asset.currencies" ng-model="currency" ng-change="change_currency(currency)">
                                  </select>  
                                  <v>Rates</v> 
                                  <b class="orange pull-right">₦{{selected_asset.rates || 0 | number:0}}/{{selected_asset.symbol || '$'}}</b>
                                </li>
                                       
                                <li class="list-group-item" ng-if="selected_asset.type=='gift card'"> 
                                  <b>Select card type</b>
                                  <select ng-if="selected_asset.type=='gift card'" name="type" ng-options="ty as ty for ty in selected_asset.card_types" ng-model="selected_asset.card_type" ng-change="change_card_type(selected_asset.card_type)">
                                  </select>
                                </li>
                    
                            </div>

                           <br>
                            <b class="orange">Upload Card Pictures / Files</b>
                              <small>Please Upload your cards</small>
                                <input ng-model="selected_asset.files" name="files" ngf-select="file_up($files)" multiple="multiple" type="file" style="width:100%;color:#333 !important;border: none !important;" required/>
                              <div class="row" ng-if="selected_asset.files.length > 0">
                                     <div ng-repeat="file in selected_asset.files" style="padding: 10px !important;float: left !important;">
                                      <img ngf-src="file" height="70"/>
                                  </div>
                               </div>
                </div>
                
                
                <div class="col col-md-8 col-sm-12">
                  
                  <div class="list-group">
                   

                            <div class="list-group-item" ng-if="selected_asset.type=='gift card'">
                                  <div class="list-group-item" style="margin-bottom: 15px !important;" ng-repeat="card in selected_asset.cards">
                                  <a ng-if="$index > 0 && !card.custom" class="pull-right red" ng-click="remove_card(card)">Remove</a>
                                  <v>Card Value ({{selected_asset.symbol || '$'}})</v>
                                  <b ng-if="card.custom" class="pull-right">{{selected_asset.symbol || '$'}} {{card.amount || 0}}</b>
                                   <div ng-if="!card.custom" class="form-group has-feedback">
                                    <input ng-model="card.amount" type="number" style="width:100%;color:#333 !important;" placeholder="Enter Amount" required>
                                   </div>
                                   <br>
                                   <br>
                                   <small>Card Quantity</small>
                                 
                                    <div class="row">
                                      <div class="col-sm-12 col-xs-12 col-md-9">
                                          <div class="col-sm-12 col-xs-12 col-md-3">
                                          <button type="button" class="btn btn-sm" ng-disabled="card.quantity < 1" ng-click="quantity_minus()">
                                          <span class="fa fa-minus"></span>
                                          </button>
                                          </div>
                                          <div class=" col-sm-12 col-xs-12 col-md-4">
                                          <input type="number" ng-model="card.quantity" name="quantity" value="1">
                                          </div>
                                          <div class="col-sm-12 col-xs-12 col-md-3">
                                          <button type="button" class="btn btn-sm" ng-click="quantity_plus()">
                                          <span class="fa fa-plus"></span>
                                          </button>
                                          </div>
                                      </div>
                                      <div class="col-sm-12 col-xs-12 col-md-3">
                                              <small>Estimated Value</small><br>
                                              <b style="font-size: 15px !important;color:rgb(51, 104, 51) !important;">{{card.sub_total() || 0 | currency:"₦"}}</b>        
                                      </div>
                                    </div>
                                   </div>
                                  <br>
                                  <a class="pull-right btn-link" ng-click="add_card(0,1,false)">Add Value +</a>
                                  <br><br>
                             </div>

                             <div class="list-group-item" ng-if="selected_asset.type=='cryptocurrency'">
                              <b class="pull-right" style="font-size: 33px !important;color:rgb(39, 202, 39) !important;">{{selected_asset.payout || 0 | currency:"₦"}}</b>
                              <v>Total Payout</v><br>
                             </div>
                             <div class="list-group-item" ng-if="selected_asset.type=='gift card'">
                              <b class="pull-right" style="font-size: 33px !important;color:rgb(39, 202, 39) !important;">{{total_card(selected_asset.cards) || 0 | currency:"₦"}}</b>
                             <v>Total Payout</v><br>
                              </div>


                        </div>
                </div>

            </div>

              <hr>

                  <label style="color:#333;">Photo Description <small>(optional)</small></label>
                  <textarea ng-model="selected_asset.card_description"  style="color:#000 !important;" placeholder="Please Provide further details about your uploaded file">
                  </textarea>
            
            <h5 class="black text-center">Average confirmation time : .10 -  30 mins</h5>
            <br>     
      
            <button ng-show="!show_loader" ng-disabled="((selected_asset.type=='gift card' && total_card(selected_asset.cards) < 1) || (selected_asset.type=='cryptocurrency' && selected_asset.amount < 1)) && !selected_asset.files" type="submit" style="background:rgb(199, 96, 0) !important;color:#fff;" class="btn btn-lg btn-blue">&nbsp;&nbsp;Sell&nbsp;&nbsp;</button>
            <b ng-show="show_loader">Please Wait...</b>
          
          </form>
        </div>





        <div class="modal-footer">
          </div>



       </div>
    </div>
  </div>
  
  