<div class="container">


<div class="row">
<h3 class="text-left" style="font-size: 20px;"><b>Also picked for you</b></h3>
<h6 class="text-left">products similar to this</h6>
</div>
          
<div class="row" ng-controller="related"> 

<a href="/item/{{ptqq._id}}" class="col-sm-6 col-md-3 col-xs-6" ng-repeat="ptqq in ps | orderBy:'price' | filter:products.type | limitTo:4">
 <div class="animate thumbnail">
 <div id="carve"><img src="{{API_MEDIA+ptqq.photo}}" class='img-responsive'></div>
        <div class="caption">
            <h5><b>{{ ptqq.name}}</b> </h5>
        <h8>{{ ptqq.productbrand}} </h8>
         <div ng-if="ptqq.colors" ng-repeat="cc in ptqq.colors | limitTo:4">
            <div class="color-box" as-sortable-item-handle ng-style="{'background': cc.color, 'background-image':'url(' + API_MEDIA +cc.photo + ')'}"></div>
        </div><br><br>
          <h4 class="row"><b>{{ ptqq.price | currency:" N ": 2 }}</b></h4>
        
        </div>
      </div>
      </a>

             
             
                   
                   
  </div>  
	
	
    
    
</div>
