<div ng-include="'shared/banner.html'"></div>

<br><br>

<br><br>

<div>
<div class="center-box text-center">
    <h2 class="blue">Affiliate Terms & Conditions</h2>
<b>
By registering and opening an account to use ObicTrade&#39;s Services, you have unconditionally agreed
to and accept the terms and conditions stated hereunder:
</b><br><br>
<v>
    Obic Trade is looking for Affiliate traders and community leaders who align with our vision and
    values to promote products and services.
    <br>
    As we embark on our next phase of growth, we are excited to partner with like-minded and
    creative individuals to spread the word about the future of money.
    <br>
    Ready to be an affiliate?
    <li><b>Step 1:</b>
    Apply today to share the benefits of crypto.
    </li>
    <li><b>Step 2:</b>
    WE will review your application and once approved, you’ll be granted access to your unique
    page.
    </li>
    <li><b>Step 3:</b>
    Begin trading through your customized page and earn commission on every new trade!
    </li>
    <br>
    <h4>Who we’re looking for</h4>
    <li>Affiliate Traders and crypto community leaders who align with our vision of
    empowering the individuals through crypto.</li>
    
    <li>Obic Trade users who are familiar with our product offering and want to contribute
    to our overall growth.</li>
    
    <li>Organizations that align with our brand values and want to share the future of
    money with their communities.</li>
    
    Affiliate Entry Disclaimer*
   <b> Obic Trade </b> maintains a trustworthy, and appropriate criteria for our list of affiliate applicants.
    It is important to note that all affiliate applicants should be aware of the highly competitive
    nature of the program, resulting in an exceedingly diligent and rigorous process for selecting
    applicants.
    Obic Trade advises all affiliate applicants to have sufficient experience in past affiliate
    programs, and/or have an accredited, professional social following across various media
    platforms.
    <br>
    
    Obic Trade’s affiliate benefits
    
    Partner with the most trusted crypto exchange in the Africa.
    
    Transparent campaign tracking and reporting
    
    Compensated in your preferred currency of choice
<br>
<br>
<b>
Last Updated 10 th April, 2021.
</b>

<br>
<br>
<br>
<br>
<br>
</div>
</div>
<div ng-include="'shared/footer.html'"></div>