<div ng-include="'shared/banner.html'"></div>


  

<br><br>
   
<section>
 
  <div class="text-center padding center-box">
    <div class="section-title">
      <b class="blue">Do you want to Trade?</b>
      <h5 class="black">You can always reach us 24/7 to make a trade or get more information about our services.</h5>
    </div>

    <div class="row">
      <!-- <div class="col col-lg-12 col-md-12 col-sm-12">
        <span style="font-size: 50px;margin: 10px;" class="fab fa-whatsapp"></span>
        <h2 class="black">Ada</h2>
          <p>Drop a message on WhatsApp.</p>
          <a href="https://wa.me/+13152560417" class="blue">+13152560417</a>
          <br>
          <a href="https://wa.me/+13152560417" lass="btn btn-large btn-lg btn-warning"><b>Contact</b></a>                       
        </div> -->

      <div class="col col-lg-12 col-md-12 col-sm-12">
          <span style="font-size: 50px;margin: 10px;" class="fab fa-whatsapp"></span>
          <h2 class="black">Ada</h2>
          <p>Drop a message on WhatsApp.</p>
          <a href="https://wa.me/+2349075355144" class="blue">+2349075355144</a> 
          <br>
          <a href="https://wa.me/+2349075355144" lass="btn btn-large btn-lg btn-warning"><b>Contact</b></a>                       
      </div>
    </div>


</div>
</section>





            

      

 <div ng-include="'shared/footer.html'"></div>