
  <div ng-include="'shared/banner.html'"></div>


  
    <section id="hero"  class="d-flex align-items-center bg-home" style="height:100vh !important;">
      <div class="container"  style="background-color: rgba(255, 81, 0, 0) !important;">
        <br><br><br>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="text-center" style="max-width: 600px !important;margin: auto !important;direction: ltr;">
                    <h1>Buy, Sell GiftCards & other Digital Assets</h1>
                    <h2>Join millions globally and trade digital assets, cryptocurrencies and get instant cash</h2>

                    <div class="text-center row">
                      <a href="https://api.obictrade.com/download"><img src="images/google-white.svg" style="height:50px !important;margin: 5px;" /></a>
                      <a href="https://api.obictrade.com/download"><img src="images/apple-white.svg" style="width:150px !important;margin: 5px;"/></a>      
                  </div>
                  
                 </div>

          <!-- <img src="images/apps/app-join2.png" class="hidden-sm hidden-xs" style="width: 100% !important;margin-top: -200px !important;"> -->
            </div>
        </div>
      </div>
    </section>
  
    
  
 

    <section id="why-us" class="why-us section-bg d-flex align-items-center text-left dots">
        <div class="container">
          <br><br>
          <div class="row">

            <div class="col col-md-5 col-lg-5">
                <img src="images/apps/app1.png" style="width: 90% !important;" class="animated" alt="">
              </div>
              
            <div class="col col-md-7 col-lg-7 text-left flex-column">
           
              <div class="content">
                <h3>Buy, Sell & manage your crypto, Trading at the <strong>Best Rates</strong></h3>
                <p>
                    Obic Coins makes it easy to store cryptocurrency
                </p>
              </div>
    
              <div class="accordion-list">
                <ul>
                  <li>
                    <a data-toggle="collapse" class="collapse" href="#accordion-list-1"><span>01</span>  Sign up<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-parent=".accordion-list">
                      <p>
                        Sign up for your free Obic Wallet on web, iOS or Android and follow our easy process to set up your profile   </p>
                    </div>
                  </li>

                  <li>
                    <a data-toggle="collapse" href="#accordion-list-2" class="collapsed"><span>02</span>  Deposit money <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-parent=".accordion-list">
                      <p>
                        Choose your preferred payment method to add money to your Obic Wallet
                       </p>
                    </div>
                  </li>
    
                  <li>
                    <a data-toggle="collapse" href="#accordion-list-3" class="collapsed"><span>03</span> Buy crypto <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-parent=".accordion-list">
                      <p>
                        Buy Bitcoin then securely store it in your Wallet or send it on easily to friends  </p>
                    </div>
                  </li>


                  </ul>
                  </div>
                  <div class="text-center row">
                    <a href="https://api.obictrade.com/download"><img src="images/google-dark.svg" style="height:50px !important;margin: 5px;" /></a>
                    <a href="https://api.obictrade.com/download"><img src="images/apple-dark.svg" style="width:150px !important;margin: 5px;"/></a>      
                </div>
            
            </div>
          </div>
        </div>
    
      </section>
    
      
    
  
      <section class="padding dots" style="background-color:#fff">
        <div class="container">
          <div class="row">
       <div class="col-sm-12 col-xs-12 col-md-6 text-center" style="background:rgba(255, 255, 255, 0) !important;">
            <div style="max-width:440px !important; float:left;color:rgb(24, 23, 23);padding-top:180px;">
              <br><br>
                <h1><b style="font-size:40px !important;color:rgb(71, 134, 207);">Recieve payments in crypto</b></h1>
                <h2><small style="line-height: 125%;">Obic helps you recieve and make borderless payments in crypto with just your username. with obic you can trade and pay without a worry</small></h2>
             </div>
             <div class="text-center row">
              <a href="https://api.obictrade.com/download"><img src="images/google-white.svg" style="height:50px !important;margin: 5px;" /></a>
              <a href="https://api.obictrade.com/download"><img src="images/apple-white.svg" style="width:150px !important;margin: 5px;"/></a>      
          </div>
        </div> 
         <div class="col-sm-12 col-xs-12 col-md-6" style="border-radius:14px !important;height: auto !important;overflow: hidden;">
          <br>
          <img src="images/apps/app3.png" style="width: 90% !important;">
        </div>
        
            
      </div>
    </div>
      </section>




      <section id="why-us" class="why-us section-bg d-flex align-items-center text-left dots">
        <div class="container">
          <br><br>
          <div class="row">

              
            <div class="col col-sm-12 col-xs-12 col-md-7 col-lg-7 text-left flex-column">
           
              <div class="content">
                <h3>Do More With <strong>Crypto</strong></h3>
                <p>
                  With Obic, you can convert Crypto to Naira, sell Gift Cards & Send Money with Crypto, all with crypto.
                </p>
              </div>
    
              <div class="accordion-list">
                <ul>
                  <li>
                        <span class="fa fa-rocket orange"></span>
                        &nbsp; Convert Crypto to Naira
                  </li>

                  <li>
                        <span class="fa fa-rocket orange"></span>
                        &nbsp; Buy Crypto with Gift Cards
                  </li>

                  <li>
                        <span class="fa fa-rocket orange"></span>
                        &nbsp; Send Money with Crypto
                  </li>

                </ul>
              </div>
            
            </div>



            <div class="col col-md-5 col-lg-5 col-sm-12 col-xs-12">
              <img src="images/apps/app2.png" style="width: 90% !important;" class="animated" alt="">
            </div>


          </div>
        </div>
    
      </section>



      <section style="background-color: rgb(35, 48, 75) !important;">
 
        <div class="text-center padding" style="padding: 25px !important;">
          <div class="row padding">
            <div class="col col-lg-4 col-md-4 col-sm-12">
              <img src="images/icons/secure.jpg" height="120" class="img-fluid" alt="" />
              <br><br>
                <h3><b class="white">Obic is secured</b></h3>
                <h5>Trusted by millions globally for its secure platform, we are confident to say that your crypto is in the right hands.</h5>
            </div>
      
            <div class="col-lg-4 col-md-4 col-sm-12">
              <img src="images/icons/easy.jpg" height="120" class="img-fluid" alt="" />
              <br><br>
                <h3><b class="white">Obic is easy to use</b></h3>
                <h5>Everyone loves an easy-to-use platform, that is why our top priority is providing you with seamless services you can enjoy without breaking a sweat.</h5>
            </div>
      
            <div class="col-lg-4 col-md-4 col-sm-12">
              <img src="images/icons/you.png" height="120" class="img-fluid" alt="" />
              <br><br>
                <h3><b class="white">Obic is built for you</b></h3>
                <h5>Every one of our services is built with you in mind. Beating our chest we can say, we give you the best crypto experience.</h5>
            </div>
          </div>
      </div>

      </section>
      
        




      <section class="padding" style="background-color:#fff">
        <div class="container">
          <div class="row">
       <div class="col-sm-12 col-xs-12 col-md-6 text-center" style="background:rgba(255, 255, 255, 0) !important;">
            <div style="max-width:440px !important; float:left;color:rgb(24, 23, 23);padding-top:160px;">
                <h1><b style="font-size:40px !important;color:rgb(71, 134, 207);">Crypto Trading, Simplified</b></h1>
                <h2><small style="line-height: 125%;">Obic has traded over $1.2M worth of BTC,	you can always rely on obic to providing you with tips and tricks to becoming a crypto guru.</small></h2>
             </div>
        </div> 
         <div class="col-sm-12 col-xs-12 col-md-6" style="border-radius:14px !important;height: 500px !important;overflow: hidden; background-image: url('./images/apps/coin.png'); background-size: cover;background-position: center;">
          </div>
        
            
      </div>
    </div>
      </section>



      <section class="padding" style="background-color:#fff">
        <div class="container">
          <div class="row">
      
          <div class="col-sm-12 col-xs-12 col-md-6" style="border-radius:2px !important;height: 500px !important;overflow: hidden; background-image:url('../images/members/hanna.jpg');background-size: cover;background-position: center;">
          </div>
     
        
        <div class="col-sm-12 col-xs-12 col-md-6 text-right" style="background:rgba(255, 255, 255, 0) !important;">
          <div style="max-width:440px !important; float:left;color:rgb(24, 23, 23);padding-top:160px;">
              <h1><b style="font-size:40px !important;color:rgb(71, 134, 207);">We are here for you</b></h1>
              <h2><small style="line-height: 125%;">We provide you with tips, guides and ensure every questions are answered</small></h2>
           </div>
           <div class="text-center row">
            <a href="https://api.obictrade.com/download"><img src="images/google-dark.svg" style="height:50px !important;margin: 5px;" /></a>
            <a href="https://api.obictrade.com/download"><img src="images/apple-dark.svg" style="width:150px !important;margin: 5px;"/></a>      
        </div>
      </div> 
      </div>
    </div>
      </section>



        <section class="bg-blue">
            <div class="text-center padding center-box">
            <img src="images/bg/products.png" height="150" />
            <h1 class="white"><b>Want To Trade Gift Cards For Naira?</b></h1>
                <h2>
                    <small style="line-height: 125%;color:white !important;">
                        We accept iTunes, Amazon, Steam Wallet, Google Play, Apple Store, eBay, Walmart, Sephora, OneVanilla,
                        Nordstrom, Target, JCPenney, Best Buy, Nike, Hotels.com, Macy's, Gamestop, Xbox, Vanilla, G2A, American Express (AMEX),
                        OffGamers, Foot Locker, Visa, Play Station and others.
                    </small>
                </h2>

                <div class="text-center row">
                  <a href="https://api.obictrade.com/download"><img src="images/google-white.svg" style="height:50px !important;margin: 5px;" /></a>
                  <a href="https://api.obictrade.com/download"><img src="images/apple-white.svg" style="width:150px !important;margin: 5px;"/></a>      
              </div>
             </div>
             
             <br>


             </section>


        <section class="bg-white">

      <div class="row">

        <div class="col-lg-2 col-md-2 col-2 d-flex align-items-center text-center justify-content-center">
          <img src="images/client11.png" height="30" class="img-fluid" alt="" />
        </div>


        <div class="col-lg-2 col-md-2 col-2 d-flex align-items-center text-center justify-content-center">
          <img src="images/obiccoins.png" height="50" class="img-fluid" alt="" />
        </div>

        <div class="col-lg-2 col-md-2 col-2 d-flex align-items-center text-center justify-content-center">
          <img src="images/client6.png"  height="30" class="img-fluid" alt="" />
        </div>

        
        <div class="col-lg-2 col-md-2 col-2 d-flex align-items-center text-center justify-content-center">
            <img src="images/client7.png" height="30" class="img-fluid" alt="" />
          </div>

          

        <div class="col-lg-2 col-md-2 col-2 d-flex align-items-center text-center justify-content-center">
            <img src="images/client8.png" height="30" class="img-fluid" alt="" />
          </div>

          

        <div class="col-lg-2 col-md-2 col-2 d-flex align-items-center text-center justify-content-center">
            <img src="images/client9.png" height="30" class="img-fluid" alt="" />
          </div>
  

    </div>
  </section>

  
      
      
     
  
  <div ng-include src="'shared/footer.html'"></div>
      
    
  