<div class="container">  
        
        
    <div class="row  login-box center-box">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center" style="margin:auto !important;">
                <br>
                <br>
                <img src="images/obic.png" height="60" />
                <br><br>
            <h2><b style="color:rgb(34, 34, 34)">Your Application was sent successfully!</b></h2>
            <br><br>
            <h4 style="color:rgb(34, 34, 34)">You will be contacted shortly</h4>
            <Br><br>
            <a href="/" style="background-color:rgb(49, 103, 219) !important;margin:auto;width: 200px !important;color:white !important;border:none !important; padding: 19px !important;" class="btn btn-warning btn-large btn-lg">Go Home</a>
            <br>
            <br>
            </div>
             
        </div>
    </div>  
    
    
    
</div>


