<section id="hero">  
        
    <div  class="container">
        <form class="text-center">
                <img src="images/obic.png" height="30" />
                <br>
                <br>
                <h2><b class="blue">Email verification sent!</b></h2>
                <h5 style="color: black !important;">Hello {{user.first_name}},<br> We have sent a link to your email <b class="blue">({{user.email}})</b>, click on the link to verify your email.</h5>
                <Br><br><br>
              
        </form>
    </div>    
    
    
    
</section>





<div ng-include="'shared/footer.html'"></div>
