<section id="hero">  
        
    <br><br>
    <div  class="container">
        <form class="text-center">
                <img src="images/obic.png" height="30" />
                <br>
                <br>
                <h2><b style="color: black !important;">Registered successfully!</b></h2>
                <h5 style="color: black !important;">We have sent a link to your email <b ng-if="new_user" class="blue">({{new_user.email}})</b>, click on the link to verify your email. Download the app to login to your profile and complete your registration</h5>
                <br>
                <div class="text-center row">
                    <a href="https://api.obictrade.com/download"><img src="images/google-dark.svg" style="height:50px !important;margin: 5px;" /></a>
                    <a href="https://api.obictrade.com/download"><img src="images/apple-dark.svg" style="width:150px !important;margin: 5px;"/></a>      
                </div>
        </form>   
    </div>  
    
    
    
</section>




<div ng-include="'shared/footer.html'"></div>

